.resizable-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
}

.divider-visible {
  background-color: #77629d;
  height: 100%;
  width: 1px;
}

.divider {
  position: absolute;
  height: 100%;
  width: 1px;
  padding: 0 2px 0  0;
  transition: background-color 0.2s ease;
  cursor: col-resize;
  z-index: 1;
  background-color: transparent;

  &:hover {
    background-color: #77629d;
  }
}
