.container {
    border-left: solid 3px rgba(210,215,217,0.75);
    margin: 0 0 2em 0;
    padding: .5em 0 .5em 2em;
}
.arrow {
    position: absolute;
    right: 10px;
    cursor: pointer;
}
.arrow:hover {
    box-shadow: 1px 1px 1px black;
    transition: all 500ms;
}
