@import '~highlight.js/styles/github-dark-dimmed.css';
@import '~css.gg/icons/scss/arrows-v-alt.scss';
@import '~css.gg/icons/scss/compress-v.scss';
@import '~css.gg/icons/scss/clipboard.scss';

.container {
    overflow-y: auto;
    transition: height 1s ease-in-out;
    border: 1px solid rgba(210,215,217,0.75);
    border-left: solid 3px rgba(210,215,217,0.75);
    position: relative;
}

.padding {
    padding: 20px 20px 20px;
}

pre {
    margin: 0;
}

.gg-arrows-v-alt,
.gg-compress-v,
.gg-clipboard {
    transform: scale(0.8);
}


.arrow {
    font-weight: bold;
    position: absolute;
    left: calc(100% - 70px);
    width: 60px;
    text-align: center;
    cursor: pointer;
    transition: top 1s ease-in-out;
    color: black;
    height: 2em;
}

.pulse {
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: translate(0, 0);
    }

    30% {
        transform: translate(0, 5px);
    }

    100% {
        transform: translate(0, 0);
    }
}

.white {
    color: white;
}

.controls {
    display: flex;
    align-items: center;
    & i {
        margin-left: 10px;
    }
}
